.Resources {
    background: linear-gradient(to right, #3a79cb, #80c4f2);
    background-color: #007bff;
    padding-top: 80px;
    padding-bottom: 60px;
    text-align: center;

    h2 {
        font-size: 34px;
        color: #F4F4F4;
    }
}
